body{
    flex: 1px;
}
.nav {
      background-color: DarkSalmon;
    overflow: hidden;
  }
  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  .nav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
.intro {
    border-left: 6px solid #9d0191;
    border-right: 6px solid #9d0191;
    border-top: 6px solid #9d0191;
    border-bottom: 6px solid #9d0191;
    float: right;
    color: white;
    width: 75%;
    background-color: #120078;
    
    font-size: 15px;
  }
  .left-container{
      float: left;
      width: 24%;
      background-color: #a07676;
      text-align: center;
      flex: 1px;
      height: 1337px;
  }

  img{
      float:left;
      width: 100%;
      border-radius: 50%;
      height: 25%;
  }
  h2 {
    text-decoration: underline;
  }
  @media screen and (max-width:1024px) {
        .intro {
            width: auto;
            padding: auto;
        }
        .left-container{
            width: 100%;
            padding: auto;
    
            
        }
        img{
            flex-direction: column;
            width: auto;

        }
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
    color: #9d0191;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }
  span{
    color: red;
  }